.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}
.popular h1{
    color: #171717;
    font-size: 40px;
    font-weight: 600;
}

.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

/* .popular_item{
    display: flex;
    gap: 2px;
    margin-top: 30px;
} */

.popular_item{
    display: grid;
    grid-template-columns: repeat(4,210px);
    margin-top: 30px;
    grid-column-gap: 30px;
}